{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Unsubscribe Page -->
     
    <div class="overlay"></div>
    <div class="default-page-container">
        <h1 class="default-page-header unsubscribe">Unsubscribe</h1>
        <div id="unsubscribe-button-container">
            <a class="oup my-2 custom-form-button-container">
                <button class="btn btn-black " href="{% url 'mailing-list-unsubscribe' user.email %}">Unsubscribe</a>
        </div>
    </div>
{% endblock %}