{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Hero Image -->
<section class="text-center" id="hero-container">
    <h1 class="display-5 fw-bold text-body-emphasis" id="hero-heading">Explore The Mandala World</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-outline-black btn-lg" href="{% url 'courses' %}" id="hero-button">View Our Courses</a>
      </div>
    </div>
  </section>
{% endblock %}