{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h1 class="error-number"><span>4</span><span>0</span><span>4</span></h1>
                    <h2 class="">Page not found</h2>
                    <h3 class="my-4">We are sorry, but the page you requested was not found</h3>
                    <p class="mb-4">Click the button below to return home</p>
                    <a class="btn black-button" href="{% url 'home' %}">Go Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}