<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-courses-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Name</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'courses' %}" class="dropdown-item">All Courses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="geometric-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Geometric Mandala
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="geometric-link">
                <a href="" class="dropdown-item">Circle Mandala</a>
                <a href="" class="dropdown-item">Heart Mandala</a>
                <a href="" class="dropdown-item">Triangle Mandala</a>
                <a href="" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flower-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flower Mandala
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flower-link">
                <a href="" class="dropdown-item">Lotus Mandala</a>
                <a href="" class="dropdown-item">Rose Mandala</a>
                <a href="" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="animal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Animal Mandala
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="animal-link">
                <a href="" class="dropdown-item">Elephant Mandala</a>
                <a href="" class="dropdown-item">Lion Mandala</a>
                <a href="" class="dropdown-item">Bird Mandala</a>
                <a href="" class="dropdown-item">Show All</a>
            </div>
        </li>
    </ul>
</div>