<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-courses-link">
                <a href="{% url 'courses' %}?sort=price&direction=asc" class="dropdown-item">By Price(low to high)</a>
                <a href="{% url 'courses' %}?sort=price&direction=desc" class="dropdown-item">By Price(high to low)</a>
                <a href="{% url 'courses' %}?sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'courses' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'courses' %}?sort=level&direction=asc" class="dropdown-item ">By Level</a>
                <a href="{% url 'courses' %}" class="dropdown-item">All Courses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="geometric-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Geometric Mandala
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="geometric-link">
                <a href="{% url 'courses' %}?category=circle_mandala" class="dropdown-item">Circle Mandala</a>
                <a href="{% url 'courses' %}?category=heart_mandala" class="dropdown-item">Heart Mandala</a>
                <a href="{% url 'courses' %}?category=triangle_mandala" class="dropdown-item">Triangle Mandala</a>
                <a href="{% url 'courses' %}?category=circle_mandala,heart_mandala,triangle_mandala" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flower-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flower Mandala
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flower-link">
                <a href="{% url 'courses' %}?category=lotus_mandala" class="dropdown-item">Lotus Mandala</a>
                <a href="{% url 'courses' %}?category=rose_mandala" class="dropdown-item">Rose Mandala</a>
                <a href="{% url 'courses' %}?category=lotus_mandala,rose_mandala" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="animal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Animal Mandala
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="animal-link">
                <a href="{% url 'courses' %}?category=elephant_mandala" class="dropdown-item">Elephant Mandala</a>
                <a href="{% url 'courses' %}?category=lion_mandala" class="dropdown-item">Lion Mandala</a>
                <a href="{% url 'courses' %}?category=bird_mandala" class="dropdown-item">Bird Mandala</a>
                <a href="{% url 'courses' %}?category=elephant_mandala,lion_mandala,bird_mandala" class="dropdown-item">Show All</a>
            </div>
        </li>
    </ul>
</div>